{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class="container-fluid" style="padding-left: 100px; padding-right: 100px;">

  <div class="row">

	  <div class="col-sm-8">

		  <h1 class="title">Shelves ({{shelf_count}})</h1>

  		{% if shelves %}
      <form action="" method="post" name="book_list">
        <div class="field">
            <input type="hidden" name="form_name" value="checkbox_filter"/>
        </div>

        <table class="table table-striped" style="margin-top: 20px;">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Genre</th>
              <th>Floor</th>
              <th>Book Count</th>
            </tr>
          </thead>
          <tbody>
            {% for shelf in shelves %}
      			<tr>
        			  <td>
                  <label class="checkbox">
                    <input type="checkbox" name="shelf_key" value="{{shelf[0]}}"/>
                  </label>
                  <a href = "{{ url_for('shelf_page', shelf_id = shelf[0]) }}">{{shelf[1]}}</a>
                </td>
                <td>{{shelf[5]}}</td>
                <td>{{shelf[4]}}</td>
                <td>{{shelf[-1]}}</td>
      			</tr>
      			{% endfor %}
          </tbody>
        </table>

  		  <div class="field is-grouped">
    			<div class="control">
    			  <button class="button is-danger is-small">Delete</button>
    			</div>
  		  </div>
  		</form>
  		{% endif %}

	  </div>

    <div class="col-sm-2 d-flex justify-content-center">
  	  <div class="position-fixed">

        <div class="text-center" style="background-color: rgb(254,203,255); border: 1px solid white; border-radius: 8px; padding: 5px;">
      		<form action="" method="post" name="shelf_search">

      		  <h3>Search</h3>
            <div class="field">
        		    <input type="hidden" name="form_name" value = "filter"/>
        		</div>
      		  <div class="field">
      			<label for="genre" class="label">Book Genre</label>
      			  <div class="control">
        				<input type="text" name="genre" class="input"/>
      			  </div>
      		  </div>
      		  <div class="field">
      			<label for="capacity" class="label">Capacity</label>
      			  <div class="control">
        				<input type="text" name="capacity" class="input"/>
      			  </div>
      		  </div>
            <div class="field">
      			<label for="shelf_floor" class="label">Shelf Floor</label>
      			  <div class="control">
        				<input type="text" name="shelf_floor" class="input"/>
      			  </div>
      		  </div>
      		  <div class="field is-grouped">
        			<div class="control" style="padding: 10px;">
        			  <button class="button is-primary is-small">Submit</button>
        			</div>
      		  </div>

      		</form>
        </div>

  	  </div>
  	</div>

    <div class="col-sm-2 d-flex justify-content-center">
  	  <div class="position-fixed">

  		<div class="d-flex text-center" style="background-color: rgb(254,203,255); border: 1px solid white; border-radius: 8px; padding: 5px;">

  		  <form action="" method="post" name="shelf_create">

    			<h3 class="title">Create Shelf</h3>
    			<div class="field">
    					<input type="hidden" name="form_name" value = "shelf_create"/>
    				</div>
          <div class="field">
            <label for="name" class="label">Shelf Name</label>
            <div class="control">
              <input type="text" name="name" class="input" required="required"/>
            </div>
          </div>
    			<div class="field">
    			  <label for="num" class="label">Shelf Number</label>
    			  <div class="control">
      				<input type="text" name="num" class="input" required="required"/>
    			  </div>
    			</div>
    			<div class="field">
    			  <label for="block" class="label">Shelf Block</label>
    			  <div class="control">
      				<input type="text" name="block" class="input" required="required"/>
    			  </div>
    			</div>
    			<div class="field">
    			  <label for="floor" class="label">Shelf Floor</label>
    			  <div class="control">
      				<input type="text" name="floor" class="input" required="required"/>
    			  </div>
    			</div>
    			<div class="field">
    			<label for="book_genre" class="label">Genre</label>
    			  <div class="control">
      				<input type="text" name="book_genre" class="input"/>
    			  </div>
    			</div>
    			<div class="field">
    			  <label for="capacity" class="label">Shelf Capacity</label>
    			  <div class="control">
      				<input type="text" name="capacity" class="input"/>
    			  </div>
    			</div>

    			<div class="field is-grouped">
    			  <div class="control" style="padding: 10px;">
      				<button class="button is-primary is-small">Create</button>
    			  </div>
    			</div>

  		  </form>
  		</div>

  	  </div>
  	</div>

	</div>

</div>


{% endblock %}
