{% extends "layout.html" %}
{% block title %}Admin Page{% endblock %}
{% block content %}

  <div class="container">
	<div class="row" style="padding: 150px;">
	  <div class="col-sm d-flex flex-wrap align-content-center justify-content-center" style="width: 50%;">
			
			{% if session["logged_in"] %}
				<p>
					Hello, {{session["username"]}}
				</p>
			{% endif %}
	  </div>
	  <div class="col-sm d-flex flex-wrap align-content-center justify-content-center" style="width: 50%;">
		  <img src="{{ url_for('static', filename='itu_logo.png') }}" alt="İTÜ Logo" width="212" height="120">
	  </div>
	</div>
  </div>
{% endblock %}
