{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="container">

      <div class="row">

        <div class="col-sm-9">

          <h1 class="title">Authors</h1>

          {% if authors %}
          <table class="table table-striped" style="margin-top: 20px;">
            <thead class="thead-dark">
              <tr>
                <th>Name and Surname</th>
              </tr>
            </thead>
            <tbody>
              {% for author in authors %}
          		<tr>
            			<td>
                    <a href = "{{ url_for('author_page', author_id = author[0]) }}">{{author[1]}} {{author[2]}}</a>
                  </td>
          		</tr>
          		{% endfor %}
            </tbody>
          </table>
          {% endif %}

        </div>

        <div class="col-sm-3 d-flex justify-content-center">
          <div class="position-fixed bordered">

            <div class="text-center" style="background-color: rgb(254,203,255); border: 1px solid white; border-radius: 8px; padding: 5px;">
              <form action="" method="post" name="author_search">

                <h3>Search</h3>
                <div class="field">
            		    <input type="hidden" name="form_name" value="filter"/>
            		</div>
                <div class="field">
                  <label for="author_name" class="label">Name</label>
                    <div class="control">
                      <input type="text" name="author_name" class="input"/>
                    </div>
                </div>
                <div class="field">
                  <label for="author_surname" class="label">Surname</label>
                    <div class="control">
                      <input type="text" name="author_surname" class="input"/>
                    </div>
                </div>
                <div class="field is-grouped">
                  <div class="control" style="padding: 10px;">
                    <button class="button is-primary is-small">Submit</button>
                  </div>
                </div>

              </form>
            </div>

          </div>
        </div>

      </div>

    </div>



{% endblock %}
