{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="container">
  <div class="row">
    {% if "access_level" in session and session["access_level"] < 3%}

      <div class="col-sm-9">

        <h1 class="title">Author</h1>

        {% if author %}
        <table class="table table-striped" style="margin-top: 20px;">
          <thead class="thead-dark">
            <tr>
              <th>Author Information</th>
            </tr>
          </thead>
          <tbody>
              <tr><td> <b>Name:</b>  {{ author[1] }} </td></tr>
              <tr><td> <b>Last Name:</b>  {{ author[2] }} </td></tr>
              <tr><td> <b>Birth Year:</b>  {{ author[3] }} </td></tr>
              <tr><td> <b>Birth Place:</b>  {{ author[4] }} </td></tr>
              <tr><td> <b>Last Book Date:</b>  {{ author[5] }} </td></tr>
              <tr><td> <b>Last Book Name:</b>  {{ author[6] }} </td></tr>
            {% if books %}
              {% for b in books %}
                <tr><td>Book: <a href = "{{ url_for('book_page', book_id = b[0]) }}">{{ b[1] }} ({{b[2]}})</a></td></tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
        {% endif %}

      </div>

      <div class="col-sm-3 d-flex justify-content-center" style="background-color: rgb(254,203,255); border: 1px solid white; border-radius: 8px; padding: 5px;">

        <div class="text-center">
            <form action="" method="post" name="author_update">

            <h3 class="title">Update author</h3>
            <div class="field">
              <input type="hidden" name="form_name" value = "update"/>
            </div>

            <div class="field">
              <label for="birth_year" class="label">Birth Year</label>
              <div class="control">
                <input type="text" name="birth_year" class="input" maxlength="4"/>
              </div>
            </div>

            <div class="field">
            <label for="birth_place" class="label">Birth Place</label>
              <div class="control">
                <input type="text" name="birth_place" class="input"/>
              </div>
            </div>

            <div class="field">
              <label for="last_book_date" class="label">Last Book Date</label>
              <div class="control">
                <input type="text" name="last_book_date" class="input"/>
              </div>
            </div>

          <div class="field">
            <label for="last_book_name" class="label">Last Book Name</label>
              <div class="control">
              <input type="text" name="last_book_name" class="input"/>
              </div>
            </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary is-small">Update</button>
            </div>
          </div>
        </form>          
       </div>

    </div>

    {% else %}

      <div class="col-sm">

        <h1 class="title">Author</h1>

        {% if author %}
        <table class="table table-striped" style="margin-top: 20px;">
          <thead class="thead-dark">
            <tr>
              <th>Author Information</th>
            </tr>
          </thead>
          <tbody>
              <tr><td> <b>Name:</b>  {{ author[1] }} </td></tr>
              <tr><td> <b>Last Name:</b>  {{ author[2] }} </td></tr>
              <tr><td> <b>Birth Year:</b>  {{ author[3] }} </td></tr>
              <tr><td> <b>Birth Place:</b>  {{ author[4] }} </td></tr>
              <tr><td> <b>Last Book Date:</b>  {{ author[5] }} </td></tr>
              <tr><td> <b>Last Book Name:</b>  {{ author[6] }} </td></tr>
            {% if books %}
              {% for b in books %}
                <tr><td>Book: <a href = "{{ url_for('book_page', book_id = b[0]) }}">{{ b[1] }} ({{b[2]}})</a></td></tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
        {% endif %}

      </div>

    {% endif %}

</div>
</div>


</div>
</div>

{% endblock %}
