{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="container">
  <div class="row">

    {% if session["access_level"] < 3%}

      <div class="col-sm-9">

        <h1 class="title">Author</h1>

        {% if author %}
      		{% for a in author %}
      			<p> {{ a[1] }} ( {{a[2]}} ) </p>
      		{% endfor %}
        {% endif %}

        {% if books %}
      		{% for book in books %}
      			{% for b in book %}
      				<a href = "{{ url_for('book_page', book_id = b[0]) }}">
      				{{ b[1] }} ( {{b[2]}} )
      				</a>
      			{% endfor %}
      		{% endfor %}
        {% endif %}

      </div>

      <div class="col-sm-3 d-flex justify-content-center" style="background-color: rgb(254,203,255); border: 1px solid white; border-radius: 8px; padding: 5px;">

        <form action="" method="post" name="author_update">

          <h3 class="title">Update author</h3>
          <div class="field">
            <input type="hidden" name="form_name" value = "author_update"/>
          </div>

          <div class="field">
            <label for="author_name" class="label">Name</label>
            <div class="control">
              <input type="text" name="author_name" class="input" required="required"/>
            </div>
          </div>

          <div class="field">
            <label for="last_name" class="label">Surname</label>
            <div class="control">
              <input type="text" name="last_name" class="input" required="required"/>
            </div>
          </div>

          <div class="field">
            <label for="birth_year" class="label">Birth Year</label>
            <div class="control">
              <input type="text" name="birth_year" class="input"/>
            </div>
          </div>

          <div class="field">
          <label for="birth_place" class="label">Birth Place</label>
            <div class="control">
              <input type="text" name="birth_place" class="input"/>
            </div>
          </div>

          <div class="field">
            <label for="last_book_date" class="label">Last Book Date</label>
            <div class="control">
              <input type="text" name="last_book_date" class="input"/>
            </div>
          </div>

        <div class="field">
          <label for="last_book_name" class="label">Last Book Name</label>
            <div class="control">
            <input type="text" name="last_book_name" class="input"/>
            </div>
          </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary is-small">Update</button>
          </div>
        </div>
      </form>

    </div>

    {% else %}

      <div class="col-sm">

        <h1 class="title">Author</h1>

        {% if author %}
          {% for a in author %}
            <p> {{ a[1] }} ( {{a[2]}} ) </p>
          {% endfor %}
        {% endif %}

        {% if books %}
          {% for book in books %}
            {% for b in book %}
              <a href = "{{ url_for('book_page', book_id = b[0]) }}">
              {{ b[1] }} ( {{b[2]}} )
              </a>
            {% endfor %}
          {% endfor %}
        {% endif %}

      </div>

    {% endif %}

</div>
</div>















	<form action="{{url_for('delete_author', author_id = author[0][0])}}">
            <button type="submit" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm btn-block" data-original-title="" title="">
              Delete Author
            </button>
	</form>

{% endblock %}
