{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1 class="title">Authors</h1>

    {% if authors %}
    <form action="" method="post" name="movie_list">
      <table class="table is-striped is-fullwidth">
        {% for author in authors %}
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="author_key"/>
            </label>
			<a class="small" href="{{url_for('author_page', author_id = author[0])}}" >
				{{author[1]}}( {{author[2]}} )
			</a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-danger is-small">Delete</button>
        </div>
      </div>
    </form>
    {% endif %}

    <div style="margin-left: 15px;">

      <h1 class="title">Add Author</h1>

      <form action="" method="post" name="add_author">

        <div class="field">
          <label for="name" class="label">Name</label>
            <div class="control">
              <input type="text" name="author_name" class="input" required="required"/>
            </div>
        </div>

        <div class="field">
          <label for="pb_year" class="label">Last name</label>
            <div class="control">
              <input type="text" name="last_name" class="input" required="required"/>
            </div>
        </div>

        <div class="field">
          <label for="lang" class="label">Birth year</label>
            <div class="control">
              <input type="text" name="birth_year" class="input"/>
            </div>
        </div>

        <div class="field">
          <label for="genre" class="label">Birth place</label>
            <div class="control">
              <input type="text" name="birth_place" class="input"/>
            </div>
        </div>

      <div class="field">
          <label for="pb_loc" class="label">Last book date</label>
            <div class="control">
              <input type="text" name="last_book_date" class="input"/>
            </div>
        </div>

      <div class="field">
          <label for="publisher" class="label">Last book name</label>
            <div class="control">
              <input type="text" name="last_book_name" class="input"/>
            </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary is-small">Create</button>
          </div>
        </div>
      </form>
    </div>

{% endblock %}
