{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="container">
      <div class="row">

      {% if "access_level" in session and session["access_level"] < 3%}

        <div class="col-sm-7">

          <h1 class="title">Book</h1>

            {% if book %}
            <table class="table table-striped" style="margin-top: 20px;">
              <thead class="thead-dark">
                <tr>
                  <th>Book Information</th>
                </tr>
              </thead>
              <tbody>
                  <tr><td> <b>Name:</b>  {{ book[1] }} </td></tr>
                  <tr><td> <b>Publication Year:</b>  {{book[2]}} </td></tr>
                  <tr><td> <b>Publication Location:</b>  {{ book[3] }} </td></tr>
                  <tr><td> <b>Publisher:</b>  {{ book[4] }} </td></tr>
                  <tr><td> <b>Genre:</b>  {{ book[5] }} </td></tr>
                  <tr><td> <b>Language:</b>  {{ book[6] }} </td></tr>
                  <tr><td> <b>Count:</b>  {{ book[7] }} </td></tr>
                {% if authors %}
                  {% for author in authors %}
                  <tr><td>Author: <a href = "{{ url_for('author_page', author_id = author[0]) }}">{{ author[1] }} {{author[2]}}</a></td></tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
            {% endif %}

        </div>

        <div class="col-sm-3 d-flex justify-content-center" style="background-color: rgb(254,203,255); border: 1px solid white; border-radius: 8px; padding: 5px;">

          <div class="text-center">

            <form action="" method="post" name="update">

              <h3 class="title">Update book</h3>
              <div class="field">
                <input type="hidden" name="form_name" value = "update"/>
              </div>

              <div class="field">
                <label for="pb_year" class="label">Publication Year</label>
                <div class="control">
                  <input type="text" name="pub_year" class="input"/>
                </div>
              </div>

              <div class="field">
                <label for="lang" class="label">Language</label>
                <div class="control">
                  <input type="text" name="book_lang" class="input"/>
                </div>
              </div>

              <div class="field">
              <label for="genre" class="label">Genre</label>
                <div class="control">
                  <input type="text" name="book_genre" class="input"/>
                </div>
              </div>

              <div class="field">
                <label for="pb_loc" class="label">Publication Location</label>
                <div class="control">
                  <input type="text" name="pub_location" class="input"/>
                </div>
              </div>

            <div class="field">
              <label for="publisher" class="label">Publisher</label>
                <div class="control">
                <input type="text" name="publisher" class="input"/>
                </div>
              </div>

            <div class="field">
              <label for="authors" class="label">Authors</label>
                <div class="control">
                  <input type="text" name="authors" class="input"/>
                </div>
            </div>

            <div class="field is-grouped">
              <div class="control" style="padding: 10px;">
                <button class="button is-primary is-small">Update</button>
              </div>
            </div>
          </form>

        </div>

      </div>

      <div class="col-sm-2 d-flex justify-content-center">

        <form action="" method="post" name="update">

          <h3 class="title">Update Shelf</h3>
          <div class="field">
            <input type="hidden" name="form_name" value = "update"/>
          </div>

          {% if shelves %}
            <select>
              {% for shelf in shelves %}
                <option value="shelf[0]">{{shelf[1]}}</option>
              {% endfor %}
            </select>
          {% endif %}

          <div class="field is-grouped">
            <div class="control" style="padding: 10px;">
              <button class="button is-primary is-small">Update</button>
            </div>
          </div>

        </form>

      </div>

      {% else %}

        {% if book %}
        <table class="table table-striped" style="margin-top: 20px;">
          <thead class="thead-dark">
            <tr>
              <th>Book Information</th>
            </tr>
          </thead>
          <tbody>
              <tr><td> <b>Name:</b>  {{ book[1] }} </td></tr>
              <tr><td> <b>Publication Year:</b>  {{book[2]}} </td></tr>
              <tr><td> <b>Publication Location:</b>  {{ book[3] }} </td></tr>
              <tr><td> <b>Publisher:</b>  {{ book[4] }} </td></tr>
              <tr><td> <b>Genre:</b>  {{ book[5] }} </td></tr>
              <tr><td> <b>Language:</b>  {{ book[6] }} </td></tr>
              <tr><td> <b>Count:</b>  {{ book[7] }} </td></tr>
            {% if authors %}
              {% for author in authors %}
              <tr><td>Author: <a href = "{{ url_for('author_page', author_id = author[0]) }}">{{ author[1] }} {{author[2]}}</a></td></tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
        {% endif %}

      {% endif %}

    </div>
  </div>

{% endblock %}
