{% extends "layout.html" %}
{% block title %}Closets{% endblock %}
{% block content %}

<div class="container-fluid">

      <h1 class="title">Closets</h1>

      {% if closets %}
      <form action="" method="post" name="movie_list">
        <table class="table is-striped is-fullwidth">
          {% for closet in closets %}
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="closet_key"/>
              </label>

              {{closet[1]}}&nbsp{{closet[2]}}&nbsp{{closet[3]}}&nbsp{{closet[4]}}&nbsp{{closet[5]}}
              <!--<a href = "{{ url_for('closet_page', closet_id = closet[0]) }}">

              </a>-->
            </td>
          </tr>
          {% endfor %}
        </table>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-danger is-small">Delete</button>
          </div>
        </div>
      </form>
      {% endif %}

</div>

{% endblock %}
