<!DOCTYPE html>
<html lang="eng-US">
<head>
  <!-- Site hakkındaki genel bilgiler,bootstrap ve font-awesome kodlarının internetten import edilmesi-->
  <title>Librarian</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="An example site of a university library" name="description">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="icon" href="img/itu_rover.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/cedd86c4ea.js" crossorigin="anonymous"></script>
  <style>
  </style>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-light navbar-fixed-top" style="margin-bottom: 40px;">
		<div class="container">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					 <li><a href="home.html" class="btn" style="color:rgb(178,0,0);"><i class="fa fa-book-reader" style=""></i>LIBRARIAN</a></li>
					 <li><a href="books.html" class="btn" style="color:rgb(178,0,0);"><i class="fa fa-book" style=""></i>BOOKS</a></li>
					 <li><a href="authors.html" class="btn" style="color:rgb(178,0,0);"><i class="fa fa-user-friends" style=""></i>AUTHORS</a></li>
           <li><a href="closets.html" class="btn" style="color:rgb(178,0,0);"><i class="fa fa-door-closed" style=""></i>CLOSETS</a></li>			
				</ul>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="admin_login.html" class="btn" style="color:rgb(178,0,0);"><i class="fa fa-key" style=""></i>ADMIN LOGIN</a></li>
			</ul>		
		</div>	
	</nav>

  <div class= "container-fluid">
    <div class= "row">
      <div class = "col-sm d-flex flex-wrap align-content-center justify-content-center"><img src="img/itu_logo.png" alt="İTÜ Logo" width="212" height="120"></div>
      <div class = "col-sm"><a href="#" class="btn btn-primary"><p style="font-size:200%; color:rgb(178,0,0);">WELCOME TO LIBRARIAN.YOU CAN FREELY LOOK FOR THE RETURN DATES AND PLACES OF THE BOOKS YOU WANT TO BORROW.ALSO YOU CAN BORROW A CLOSET TO STORE YOUR BELONGINGS.</p></a></div>
      <div class = "col-sm d-flex flex-wrap align-content-center justify-content-center"><img src="img/itu_logo.png" alt="İTÜ Logo" width="212" height="120"></div>
    </div>
  </div>


</body>
</html>	